*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
RockBlaster/RockBlaster/bin/
RockBlaster/bin/
RockBlaster/RockBlaster/obj/
RockBlaster/obj/
RockBlaster/Content/obj/
!RockBlaster/x64
!RockBlaster/x86
!RockBlaster/Libraries
